.row{
  width: 240px;
  height: 240px;
  border: 3px solid red;
  display: inline-block;
  margin-top: 50px;
  position: relative;
}

img.resized{width: auto;
  height: auto;}

a.cuore{position: absolute;
  bottom: 0;left:
   120px;
   display: none;}

.row:hover .cuore{display: block;}



.row2{width: 240px;
  height: 240px;
  border: solid red;
  solid:3px;
   display: inline-block;
   ;margin-top: 50px;
   position: relative;}

.row2:hover .cuore{display: block;}

.sale{background-color:
   blue;position:absolute;
   left: 88%;
  bottom:88%;
   width: 30px;
   height: 30px;
   text-align: center;}

span{color: yellow;font-size: 90%}

.sconto{background-color: green;
  position:absolute;
  left: 87%;
  bottom: 88%;
  width: 30px;
  height: 30px;
  text-align: center;}

.svendita{background-color: red;
  position:absolute;
  width: 30px;
  height:30px;
  left: 88% ;
  bottom: 88%}
